<div id = 'new_blog'>
  <%= link_to "New", new_blog_path, :class => "button btn btn-success", remote: true %>
</div>
<br>

<div class="col-md-12 col-md-offset-12 space-between">
  <table class="table" id="blogs">
    <thead>
      <tr>
        <th>Name</th>
        <th><center>Image</center></th>
        <th>Description</th>
        <th>Launch Date</th>
        <th><center>Action</center></th>
      </tr>
    </thead>
    <tbody>
        <% @blogs.each do |blog| %>
          <%= render partial: 'blog', locals:{blog: blog} %>
        <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Back", root_path, :class => "button btn btn-primary"%>
