// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.space{
  margin: 10px;
}

.space-between{
  padding: 50px;
}

#new_blog a{
  margin-top: 20px;
}
